.parent-container {
    height: 100vh;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.glass-card {
    height: 30em;
    width: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.671);
    box-shadow: 0 8px 32px 0 rgba(85, 77, 90, 0.555);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}