*{
    margin: 0;
    padding: 0;
}
.home{
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(14, 218, 218, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}